DATABASE_URL="postgresql://neondb_owner:your_password@ep-xxx.us-east-2.aws.neon.tech/ms10shop?sslmode=require"
JWT_SECRET="ms10shop-production-jwt-secret-change-this"
NEXT_PUBLIC_API_URL="/api"
NEXT_PUBLIC_SITE_URL="https://your-app.vercel.app"
